.container{
    display: flex;
    justify-content: center;
}
.cards{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    
}

.box{
    border: solid 1px #EEEEEE;
    border-radius: 16px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    

}

.content{
    font-size: 24px;
    padding: 16px 20px;
}

.title{
    padding-bottom: 2rem;
    color: rgb(9, 22, 38, 0.5);
    font-weight: normal;
}

.title_date{
    display: flex;
    justify-content: space-between;
}
